# Assignment 5 | 10th july 2020

## 1. Write a program to find the first 20 non - even prime natural numbers.

In [2]:
lower = 0
upper = 20

print('prime numbers between ',lower, ' and ',upper, ' are: ')

for num in range(lower, upper + 1):
    if num>1:
        for i in range(2,num):
            if (num% i == 0):
                break
                
            else:
                print("%d" %num,end=" ")

prime numbers between  0  and  20  are:
3 5 5 5 7 7 7 7 7 9 11 11 11 11 11 11 11 11 11 13 13 13 13 13 13 13 13 13 13 13 15 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19

In [8]:
for Number in range(1,100):
    count = 0
    
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            
            break
            
    if(count == 0 and Number !=1):
        print("%d" %Number, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

## 2. write a program to implement 15 functions of string

__comparison Functions__

__1. islower()__ :

In [10]:
var = 'Python'
print (var.islower())

print('--------------------------------------')

var = 'python'
print(var.islower())

False
--------------------------------------
True

__2. isupper() :__

In [11]:
var = 'Python'
print (var.isupper())

print('--------------------------------------')

var = 'PYTHON'
print(var.isupper())

False
--------------------------------------
True

__3. isnumeric():__

In [13]:
num=u'2016'

print (num.isnumeric())
print()
print('-------------------------------------------')

num = u'year2016'
print(num.isnumeric())

True

-------------------------------------------
False

## padding functions

__1.rjust(width[,fillchar])__

In [14]:
var = 'python'
print (var.rjust(10))

print('-------------------------------')

print(var.rjust(10,'-'))

    python
-------------------------------
----python

__2. ljust(width[,fillchar]):__

In [15]:
var = 'python'
print(var.ljust(10))
print('-------------------------------')

print(var.ljust(10,'-'))

python
-------------------------------
python----

__center(width[,fillchar]):__

In [16]:
var = 'python'
print(var.center(20))
print('------------------------------------')
var = 'python'
print(var.center(20,'*'))

       python
------------------------------------
*******python*******

## search Functions

__1. find(str [,i [,j]]):__

In [17]:
var = "Tech Beamers"

str = "Beam"

print(var.find(str))

print('----------------------------')
var = "Tech Beamers"

str = "Beam"

print(var.find(str,4))

print('--------------------------------')

var = "Tech Beamers"

str = "Beam"

print(var.find(str,7))

5
----------------------------
5
--------------------------------
-1

__2. rfind(str[,i [,j]]):__

In [18]:
var = 'This is a good example'

str = 'is'

print(var.rfind(str,0,10))

print('-----------------------')

print(var.rfind(str,10))

5
-----------------------
-1

__3. split([step[,maxsplit]]):__

In [19]:
var = 'This is a good example'

str = 'is'

print(var.split())

['This', 'is', 'a', 'good', 'example']

__4. join():__

In [20]:
seq = ('ab', 'bc', 'cd')
str ='='

print(str.join(seq))

ab=bc=cd

## substitution functions

__1. replace(old,new[,count]):__

In [21]:
var = 'This is a good example'

str = 'was'

print(var.replace('is',str))

print('-----------------------')

Thwas was a good example
-----------------------

__2. swapcase():__

In [22]:
var = 'TechBeamers'
print(var.swapcase())

tECHbEAMERS

In [24]:
var1 = 'dinesh'
var2 = ' kumar n n'

var3 = var1.con(var2)

AttributeError: 'str' object has no attribute 'concatinate'

## 3. write  a program to check if the given string is a palindrome or Anagram or None of them.
## Display the message accordingly to the user.

In [ ]:
word = input('Enter the String: ')
boolean result =

In [ ]:

s1 = input('Enter a String: ')
s2 = input('Enter the second string: ')

if s2 == s1[::-1]:
    print('The strings are Palindrome')
    
elif(sorted(s1) == sorted(s2)):
        print('The Strings are Anagram.')
else:
    print('Number is not palindrome or anagram')

## 4. write a python's user defined function that removes all the additional charrecters from the string and converts it fin ally to lower case using built in lower().

__eg: if the string is "Dr.Darshan Inge@AI-ML Trainer", then the output be "drdarshaningeleaimltrainer"__

In [2]:

original_string =  "Dr. Darshan Inge@AI-ML Trainer"
charecters_to_remove = ".@-' '`&$#%^()!"

new_string = original_string
for charecter in charecters_to_remove:
    new_string = new_string.replace(charecter,"").casefold()
    


print('Resultant string :',new_string)

Resultant string : drdarshaningeaimltrainer

In [4]:
test_string = "Dr. Darshan Inge@AI-ML Trainer"
bad_charecters =".@#$%^&*()_- !|' '"

new_string = test_string

test_string = ''.join(i for i in test_string if not i in bad_charecters)
print('Resultant string :'+ str(test_string.casefold()))

Resultant string :drdarshaningeaimltrainer

In [12]:
test_string = "Dr. Darshan Inge@AI-ML Trainer"
bad_charecters =".@#$%^&*()_- !|' '"

print('original string: ',test_string)

test_string = filter(lambda i: i not in bad_charecters, test_string)

print("Resultant list is :" + str(test_string))

original string:  Dr. Darshan Inge@AI-ML Trainer
Resultant list is :<filter object at 0x000000DBA827AB08>